<ion-view view-title="Groupon">
    <ion-content>
        <ul class="list">
            <div class="item item-thumbnail-left" href="#">
                <img src="../www/img/snack/calbee_potato_chips_spicy_pizza.jpg">
                <h2>Chips</h2>
                <p>Winter Only</p>
                <p>Brand : Cablee</p>
                <p>Price : 20</p>
                <p>Amount of people to order : 20</p>
                <button class="button button button-assertive">
                    Order
                </button>
            </div>
        </ul>
    </ion-content>
</ion-view>
