<ion-tabs class="tabs-icon-left tabs-top">
    <!-- Dashboard Tab -->
    <ion-tab title="Week" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/rank/week">
        <ion-nav-view name="tab-rank-week"></ion-nav-view>
    </ion-tab>
    <!-- Chats Tab -->
    <ion-tab title="Month" icon-off="icon ion-chatbubble" icon-on="icon ion-chatbubble" href="#/tab/rank/month">
        <ion-nav-view name="tab-rank-month"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Year" icon-off="ion-ios-book-outline" icon-on="ion-ios-book"href="#/tab/rank/year">
        <ion-nav-view name="tab-rank-year"></ion-nav-view>
    </ion-tab>
</ion-tabs>
